html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	background-color: #000000;
	color: #FFFFFF;
	font-family: monospace;
	padding: 10px 10px;
}

sup {
    font-size: 10px;
}

canvas {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

#youfoundit {
	display: none;
}

/* Tooltip (to let people know to press F+1) */
.tooltip {
    position: relative;
    display: inline-flex;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}